.header {
  font-family: 'Lato';
  color: #363865;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.input {
  // display: block;
  border-radius: 10px;
  margin-bottom: 5px;
  @include dimension(42px, 270px);

  border: 1px solid rgba(218, 218, 218, 1);

  padding: 12px 20px;
  font: 14px 500 inherit;
}

.btn {
  cursor: pointer;
  &--icon {
    &__search {
      position: absolute;
      right: 100px;
      top: 16px;
      border-radius: 10px;
      background-color: inherit;
      padding: 5px;
      border: none;
    }
  }
}

.contact {
  background-color: rgb(255, 255, 255);
  position: absolute;

  padding: 0 0 0 1rem;
  font-family: 'Lato';

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons {
    display: flex;
    .icon {
      padding: 7px;
    }
  }
  &--header2 {
    padding: 16px 0 0;
    display: flex;
    align-items: center;

    .input {
      @include dimension(36px, 230px);
    }
  }

  .back {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .blur {
    filter: blur(1px);
  }

  @media screen and (min-width: 960px) {
    position: relative;
    width: 33vw;
    // height: calc(100vh - 60px);
    float: right;
    padding: 0 2rem;
  }
  @media screen and (max-width: 960px) {
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 350px) {
    // height: 120%;
  }
}

.contact-verify {
  @extend .contact;

  .icons {
    position: absolute;
    right: 10px;
    bottom: 18;
  }
  .head {
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .name {
      font-size: 28px;
      margin: 0;
    }
  }

  .divider {
    margin: 20px 25px;
    border: none;
    border-top: 1px solid rgba(54, 56, 101, 1);
  }

  .property {
    padding: 5px;

    display: flex;
    align-items: center;

    .icon {
      padding: 0 5px;
    }
    .text {
      font-size: 18px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 13px;
  }
}

.contact-view {
  @extend .contact-verify;

  .icons {
    margin: 18px 12px;
    .icon2 {
      margin-left: 10px;
    }
  }
  .av-foot {
    position: relative;
    left: 36px;
    top: -12px;
  }
}

.contact-add {
  @extend .contact-view;
  fieldset {
    border: none;
  }

  .details {
    padding: 0 0 3px 10px;
    border-bottom: 1px solid $primary;
  }

  .intl-tel-input,
  .tel-wrapper {
    border-radius: 10px;
    margin-bottom: 5px;
    input {
      @extend .input;
    }
    .flag-container {
      padding-left: 2px;
    }
  }

  .addContain {
    float: right;
  }

  .add {
    display: flex;
    align-items: center;
    justify-self: center;

    background-color: #98a7c5;
    border-radius: 24px;
    padding: 0 10px;
    height: 32px;
    width: 80px;
  }
}
